#titulo{
    color: rgb(43, 226, 226);
    margin-left: 50px;
}

.botao{
    margin-top: 15px;
    margin-left: 5px;
}

.space {
    margin-top: 5px;
}

.mp {
    margin-top: 50px;
}

.options {
    margin-top: 15px;
}

.btpes {
    margin-left: 410px;
}